body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    overflow-y: scroll;
}
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: burlywood;
}
header {
    margin: 0;
    height: 149px;
    background-color: #876053;
    background-image: url("../img/irish-red-setter-logo3.png");
    background-repeat: no-repeat;
    background-position: top right;
    border-bottom: 1px solid black;
}
header h1 {
    margin: 0;
    line-height: 149px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 70px;
    color: #F44336;
}
.table {
    display: table;
}
                /*----MENU BEGIN----*/
nav {
    display: table-cell;
    vertical-align: top;
    width: 199px;
    height: 700px;
    background-color: #876053;
    border-right: 1px solid black;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li a {
    display: block;
    padding: 10px 0 10px 25px;
    text-decoration: none;
    color: black;
    /*text-align: center;*/
}
nav li a.active {
    background-color: #F44336;
    color: white;
}
nav li a:hover:not(.active) {
    background-color: #68493B;
    color: white;
}
                /*----MENU END----*/

main {
    display: table-cell;
    width: 950px;
    padding: 25px;
}
.col-left {
    float: left;
    width: 450px;
}
.col-right {
    float: right;
    width: 450px;
}


article h2 {
    margin: 0;
    text-align: center;
    border-bottom: 1px solid black;
}
h2 a {
    font-family: Verdana, sans-serif;
    font-size: 34px;
    color: brown;
    text-decoration: none;
}
.first-letter p:first-letter {
    color: darkgreen;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family: "Courier New", serif;
}
article p>a:hover {
    text-decoration: none;
    color: green;
}
article>p {
    padding: 5px;
    background-color: #f5cd9d;
}
article>a {
    color: gray;
}


                /*----CATALOG BEGIN----*/
main ul>li {
    width: 300px;
    background-color: #68bb84;
    font-size: 24px;
    list-style-image: url("../img/icons/marker-clover.png");
}
main ul>li>ul>li {
    width: 220px;
    background-color: #ddb3c4;
    font-size: 18px;
    list-style-image: url("../img/icons/marker-rose.png");
    border-bottom: 1px solid darkolivegreen;
}
.new_item {
    background-image: url("../img/icons/new_1.png");
    background-repeat: no-repeat;
    background-position: right;
}
                /*----CATALOG END----*/

                /*----GALLERY BEGIN----*/
.gallery-bg {
    background-image: url("../img/square.png");
}
figure {
    display: block;
    /*float: left;*/
    margin: 0 350px;
    padding: 10px;
    /*background: #7a7a7a;*/
    /*text-align: center;*/
}
/*figcaption {
    color: #fff; !* Цвет текста *!
}*/
figure img {
    border: 15px solid #68493B;
}
figure a img:hover {
    border: 15px solid transparent;
}
                /*----GALLERY END----*/

                /*----FORMS BEGIN----*/

input[type="text"] {
    width: 150px;
}
input[type="text"] {
    text-transform: capitalize;
}
input[type="password"] {
    width: 250px;
}
input[type="email"]:focus {
    color: #F44336;
    background-color: black;
}
button[type="submit"]:active {
    background-color: navy;
    color: white;
}
button[type="reset"]:active {
     background-color: darkred;
     color: black;
 }
input[type="radio"]+label:hover,[type="checkbox"]+label:hover {
    border: 2px dotted #F44336;
}

                /*----FORMS END----*/

footer {
    height: 49px;
    background-color: #876053;
    border-top: 1px solid black;
    text-align: center;
    line-height: 49px;
}
div .center {
    text-align: center;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a.active {
    background-color: #4153af;
    color: #ff9234;
}
ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}